<div class="child-table-main">
    <br />
    <br />
    <div class="container">
        <!-- Subscribe to childData$ and assign it to childData -->
        <ng-container *subscribe="this.getChildrenData.query?.result$ as childData">
            <!-- Display table if childData has data -->
            <table class="table table-striped" *ngIf="childData.data?.children?.length">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Sender</th>
                        <th class="text-center">Receiver</th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">Paid Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over childData.data and assign each item to childInfo -->
                    <tr *ngFor="let childInfo of childData?.data?.children; index as i">
                        <!-- Display the index of the item + 1 -->
                        <td class="text-center">{{i + 1}}</td>
                        <!-- Display the sender from childInfo.parent -->
                        <td class="text-center">{{childInfo.parent.sender}}</td>
                        <!-- Display the receiver from childInfo.parent -->
                        <td class="text-center">{{childInfo.parent.receiver}}</td>
                        <!-- Display the totalAmount from childInfo.parent -->
                        <td class="text-center">{{childInfo.parent.totalAmount}}</td>
                        <!-- Display the paid amount from childInfo -->
                        <td class="text-center">{{childInfo.paid_amount}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Display "No Record" message if childData has no data -->
            <div *ngIf="!childData.data?.children?.length" class="norecord">
                <p>No Record</p>
            </div>

            <!-- <div class="button-group">
                <button mat-raised-button color="accent" disabled="{{!this.page_num}}">Previous</button>
                <button mat-raised-button  color="accent" (click)="goToNextPage(childData?.data?.total_page)" disabled="{{this.page_num == childData?.data?.total_page - 1 || !childData?.data?.total_page}}">Next</button>
            </div> -->
            <div class="endpos">
                <button mat-raised-button color="primary" routerLink="/parent">Back</button>
            </div>
        </ng-container>
    </div>
</div>
